@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes bgSlowMove {
  0% {
    background-position: center;
    transform: scale(1);
  }
  50% {
    background-position: center top;
    transform: scale(1.03);
  }
  100% {
    background-position: center;
    transform: scale(1);
  }
}

.animate-bgSlow {
  animation: bgSlowMove 20s ease-in-out infinite;
}
