@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

@keyframes bgFloat {
  0% {
    transform: scale(1);
    background-position: center;
  }
  50% {
    transform: scale(1.02);
    background-position: center top;
  }
  100% {
    transform: scale(1);
    background-position: center;
  }
}

.animate-bgFloat {
  animation: bgFloat 25s ease-in-out infinite;
}
